*.dbgconf
*.map
*.lst
*.crf
*.d
*.o
*.dep
*.htm
*.hex
*.lnp
*.sct
EventRecorderStub.scvd
*.uvgui
*.uvgui*
*.uvgui.*
JLinkLog.txt
*.bak
*.ddk
*.edk
*.mpf
*.mpj
*.obj
*.omf
*.plg
*.rpt
*.tmp
*.iex
*.__i
*.tra
.DS_Store

_Previews/
software/Out/Energy
software/Out/Energy.m51
